.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

.heart {

  animation: beat 1s infinite alternate;
}

@keyframes beat {
  0% {
      transform: scale(1);
  }
  100% {
      transform: scale(1.2);
  }
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

#ex1{    
   font-size: 1.3rem;
  margin:20px auto;
  text-align: center;    
  color:white;
  padding: 5px 30px;
  font-family: Kitschy;
  
  }
  

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #121212;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CSS for the hover effect */
.rotate-element {
  /* Initial rotation angle */
  transform: rotate(0deg);

  /* Add a transition for smooth animation */
  transition: transform 0.3s ease-in-out;
}

/* Apply the rotation on hover */
.rotate-element:hover {
  transform: rotate(45deg);
}
